<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>各自远扬</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<div id="container">
    <div id="lineContainer"><img src="../static/img/lagou.png" height="30" width="640"/>
    </div>
    <div id="first">
        <div id="name">谢骄阳</div>
        <div id="baseInfo">2年工作经验 | 本科 | 24岁 | 男</div>
        <div id="phone">联系电话： 18008668090</div>
        <div id="email">电子邮箱： 743382668@qq.com</div>
        <div class="title">自我描述</div>
        <div class="titleDown">综合能力： 数据库 | 前端+后端 | 责任心 | 个人能力 | 适应能力</div>
        <div class="content">本人从事开发工程师岗位已有两年，参与过大概八个的商业项目的开发。熟练使用JAVA、JS、CSS、SQL等语言，对JAVA基础框架熟悉，了解微服务相关架构，了解SQL调优，使用存储过程解决过脏数据，代码遵守规范，熟练使用GitLab及SVN，合理运用Sonar优化代码。学生时代曾获蓝桥杯程序设计大赛省赛二等奖，是一名中共党员。 </div>
    </div>

    <div id="two">
        <div class="title">工作经历</div>
        <div class="titleDown">北京华宇信息技术有限公司<label class="remark">2018.07 - 至今</label></div>
        <div class="position">职位：Java </div>
        <div class="content">我任职于北京华宇信息有限公司的北京法院事业部研发部，该部门负责研发与维护北京市各级法院审理案件的办公系统及相关服务，大致分为立案系统、审判系统与执行系统，系统为分布式架构，注册中心使用的是Zookeeper，消息队列使用的是RocketMQ，所有的系统及服务都以分布式部署在公司的私有服务器上，主要基于公司的Postgresql和Redis做数据存储。本人在其中负责维护与开发文书服务、制式文书服务、限制出境服务与刑事智能审判服务。在职期间接手限制出境三个版本的需求开发，文书服务三个版本的需求开发，制式文书的一个版本需求开发，个人开发效率高，工时之类总能保质的完成开发工作，并配合运维解决了一系列线上问题。同时，鉴于开发效率高，多次借调其他小组协助同事参与了其他系统或服务的开发，其中包括文书送达系统一个版本的需求开发，当事人服务一个版本的需求开发，工具箱管理一个版本的需求开发。以及刚入职时因实习时有过移动APP开发经验，参与了移动办案平台一个版本的需求开发。</div>
        <div class="titleDown">湖北河海科技<label class="remark">2017.07 - 2018.07</label></div>
        <div class="position">职位：开发工程师</div>
        <div class="content">我实习于湖北河海科技研发部门。该部门主要为公司的客户（气象站，机场，政府水利或林业部门等）研发管理平台，或是为公司出售的产品（如自动站的测控器）研发对应的支持软件。在职期间，本人先是与另一位同事两人负责开发一款名为河海六要素自动站服务端软件用以替换公司采集器产品老旧的管理系统，项目为C/S架构，开发语言为C#，主要分为四个模块，我在其中负责两个模块，其一为服务端的首页，设计上为添加定时任务向采集器发送对应代码获取采集器状态信息及采集回的信息并将其转化为通用数据展示在首页上，同时提供一个转发至其他服务端的功能，另一模块为系统设置模块，采用的方案是以ini文件将设置存储至本地，并在每次启动服务端时读取配置文件，项目并不难，但是却是人生中第一次C/S架构的开发经验，也是参与的第一个C#商业项目。项目完成后，已知有岳阳自动站已投入使用。自动站项目结束后转投入赤壁市陆水水库水文信息与防汛决策支持系统中。该项目为B/S架构，数据库为SQLSERVER，我所负责的工作大概有十个页面，因个人前端技术良好，公司也无专业前端，系统中的首页依旧由我负责。首页布局为三个模块，左边是以leaflet为支持的地图界面，将配置文件中的站点坐标及信息提取并标在地图对应位置，并设置定时器刷新地图各站点的水位信息，另外两模块则是两张表格展示一些实时或多小时平均值的水位水压等信息。其余页面为几个以echarts为技术支持展示的数据图页面，以及设置界面。项目于2018年2月份完工并成功向政府交付。该项目于我的开发能力最大的帮助便是让我意识到学会使用各类插件以达成良好的交互效果与稳定的功能，为我的毕业设计提供了一些设计思路，也让我对WEB GIS有了些了解与开发经验。在结束了陆水水库水文信息与防汛决策支持系统后，项目组转入了山西森林火点监控系统，在其中负责将数据库中实时存储的火点信息标注在地图上，并定时刷新，功能与底层技术均于与陆水防汛支持系统相似。2018年6月毕业后，因考虑个人感情问题婉拒了经理的转正邀请，在将手中项目维护交接后，跳槽于北京华宇信息。</div>
        <div class="title">项目经历</div>

        <div class="titleDown">刑事智能辅助服务<label class="remark">2019.03 - 2019.06</label></div>
        <div class="position">所属公司：(北京华宇信息技术有限公司)</div>
        <div class="position">项目描述：</div>
        <div class="content">项目框架为公司开发的Artery6，底层为Springboot+Vue，该服务设计为协助公检法之间的流程运转</div>
        <div class="position">你的成就：</div>
        <div class="content">本人在其中负责开发一个公用的页面，页面具体功能如下：
            1.控制层通过远程请求获取文书服务中案件相关的文书信息并展示在公用页面中
            2.控制层通过远程请求获取电子卷宗产品的案件相关目录信息对其解析，去除空目录并展示在公用页面中
            3.文书与卷宗材料均可以选择，并对外提供一个可以获取已选文书和材料的标识的js方法
            4.对外提供文书展示页面与材料展示页面
            5.对外提供文书与材料的下载功能
            6.因后期其他服务也需要挂载该页面，解决了一个跨域访问JS的问题
        </div>

        <div class="titleDown">文书服务<label class="remark">2018.12 - 2019.05</label></div>
        <div class="position">所属公司：(北京华宇信息技术有限公司)</div>
        <div class="position">项目描述：</div>
        <div class="content">项目开发语言为JAVA，框架为公司自研的Artery4(底层为Spring MVC +hebernate+Spring)，数据库为Postgresql，以集群的形式部署在TAS(公司以Jetty封装的容器)下，共三个节点，由nginx负责负载均衡，文书服务相对于其他服务并发量稍大，采用了Redis分布式锁处理并发。
            为便于法院文书资料的分类与管理而开发的服务，包含四个功能模块：
            1.法官可以将制作好的文书或信息表选择对应的模板上传至文书服务，文书文件存放于FTP，数据库存的为地址，当文书需要签章时推给第三方公司进行签章操作，返回流保存为PDF文件
            2.法院结案后的部分文书需要进行公开操作，由文书服务设置定时任务在结案后为标记上应上网日期，提醒法官何时该上网，在法官通过后由文书服务推给审判信息网
            3.法官上传文书仍然需要法官自己制作好文书，为了减轻法官的工作量在此基础上提供了一个文书制作的功能，法官选取了对应的文书模板，系统自己抓取模板上所需信息项生成一份文书，法官可酌情修改或是发布。
        </div>
        <div class="position">你的成就：</div>
        <div class="content">1.处理了并发情况下导致的案件相关文书的序号重复问题
            2.为文书服务开发了许多提供给其他服务的接口
            3.实现了一部分文书智能制作的功能，用于抓取案件相关信息自动生成文书
            4.开发了一些文书服务的功能，优化了部分不合理的代码
            5.因长期被运维要求查询文书签不上章的原因，重构签章功能代码，对签章失败原因进行了详细反馈，并在模板选择页面增加了是否支持签章的提示获得了经理与需求等等相关人员的好评
            6.使用存储过程矫正了一批难以处理的脏数据
        </div>

        <div class="titleDown">文书送达系统<label class="remark">2019.01 - 2019.02</label></div>
        <div class="position">所属公司：(北京华宇信息技术有限公司)</div>
        <div class="position">项目描述：</div>
        <div class="content">项目开发语言为JAVA，框架为公司自研的Artery4(底层为Spring MVC +hebernate+Spring)，数据库为Postgresql，缓存服务器为Redis。
            因法院系统在审判的过程中需要将文书送达给对应的接收人，其中包括电子送达，邮政送达等等方式，该系统用于整合整个送达流程，便于法院或邮政公司等管理。
            因业务扩展，外地法院也需要通过北京市内法院委托办理，在此基础上对其展开开发。
        </div>
        <div class="position">你的成就：</div>
        <div class="content">实现在司法专递的流程中兼容外地法院的委托流程，开发难点在于公司数据库中不存在外地组织机构与外地案件信息，导致流程中的受送达人等信息均无法保存
        </div>

        <div class="titleDown">限制出境服务<label class="remark">2018.09 - 2019.02</label></div>
        <div class="position">所属公司：(北京华宇信息技术有限公司)</div>
        <div class="position">项目描述：</div>
        <div class="content">项目开发语言为JAVA，框架为公司自研的Artery4(底层为Spring MVC +hebernate+Spring)，数据库为Postgresql，缓存服务器为Redis。
            因法院在审理的过程中需要对案件当事人实施控制出境措施，该服务旨在为法院审判系统与执行系统提供限制出境流程管理服务，大致分为以下三个功能模块：
            1、承办法官选择边控对象填写边控信息并发起边控申请，该信息先推给审批服务，而后由审批服务推给第三方公司（负责推给对应高院审批人的服务），在审批通过后由消息队列通知本服务修改对应边控状态
            2.根据边控信息的边控状态提供对应的边控文书制作功能，后台封装好对应参数推给文书服务，由文书服务返回文书，节省了法官制作边控通知书等函件的时间
            3.提供给高院专办员或基层院专办员一个管理本院或北京市所有边控信息的平台
        </div>
        <div class="position">你的成就：</div>
        <div class="content">1.独立负责第三版需求的开发，对边控申请页面进行修改及页面美化，修改，对管理列表进行重新排序，并在排序的过程中发现了公司框架的一个排序BUG，最终以JDBC的形式解决了该需求2.独立负责了第四版需求的开发，修改了限制出境通知书，控制函等文书自动生成时的模板及相关数据处理的代码，在其开发的过程中养成了提取公共方法，建立工具类的良好习惯，有利于我的代码规范化3.独立负责了第五版需求的开发，其主要需求为修改审批流程，新增可选高院审批人，并按案件类别提供候选项。该需求于我最大的帮助便是为我提升了与其他服务对接的经验，了解了相关的业务知识
        </div>

        <div class="titleDown">移动办案APP<label class="remark">2018.07 - 2018.09</label></div>
        <div class="position">所属公司：(北京华宇信息技术有限公司)</div>
        <div class="position">项目描述：</div>
        <div class="content">客户端框架为VUE，服务端框架为公司自研的Artery4(底层为Spring MVC +hebernate+Spring)，数据库为Postgresql。
            系统为以H5实现的移动端APP，为法官提供了一个手机端的移动办案平台
        </div>
        <div class="position">你的成就：</div>
        <div class="content">进入新公司的第一个项目，我负责的是案件催办与案件被催办页面，初次接触VUE框架，页面完成度高，功能全部实现，服务端代码精简，数据处理及查询条件全于SQL中完成，代码极其精简，复用率高。
        </div>

        <div class="titleDown">山西森林火点监控系统<label class="remark">2018.04 - 2018.06</label></div>
        <div class="position">所属公司：(湖北河海科技)</div>
        <div class="position">项目描述：</div>
        <div class="content">依托精细化气象服务数据产品集，建设的一套集天气实况、气象预报预警、森林火险预报的展示平台，项目为B/S架构，开发语言为C#，数据库为SQLSERVER，支持技术包含WEB GIS等。</div>
        <div class="position">你的成就：</div>
        <div class="content">负责森林火点监控页面，页面为以leaflet为技术支持的地图，将火点感应器返回的数据标注在地图对应位置，并实时刷新，同时页面加入两个悬浮窗可选取时间或是历史数据，请求服务端，将其数据库返回的数据初始化至另一列表中。
        </div>

        <div class="titleDown">陆水水库水文信息管理与防汛决策辅助系统<label class="remark">2017.12 - 2018.05</label></div>
        <div class="position">所属公司：(湖北河海科技)</div>
        <div class="position">项目描述：</div>
        <div class="content">该系统通过气象，水文，防汛各类业务管理数据的集中采集，集中存储，集中管理和集中服务，一体化地解决水文信息系统的建设，运行和管理问题。该项目分两期完成，5月份交付的为一期项目。该系统为B/S架构基于C#语言实现的Web项目。在其中我负责了一期的两个首页:水务首页与水雨情首页。其余功能包括：各曲线页面的计算工具，上游水位过程线，下游水位过程线，纵剖水面线，内部通讯录管理，外部通讯录管理，重要电话记录管理，坝上开度调度等。其中涉及的方面包含Web gis ，数据的曲线及绘图展示等。</div>
        <div class="position">你的成就：</div>
        <div class="content">我所负责的工作大概有十个页面，因个人前端技术良好，公司也无专业前端，系统中的首页依旧由我负责。首页布局为三个模块，左边是以leaflet为支持的地图界面，将配置文件中的站点坐标及信息提取并标在地图对应位置，并设置定时器刷新地图各站点的水位信息，另外两模块则是两张表格展示一些实时或多小时平均值的水位水压等信息。其余页面为几个以echarts为技术支持展示的数据图页面，以及设置界面
        </div>

        <div class="titleDown">河海六要素自动站服务端<label class="remark">2017.11 - 2017.12</label></div>
        <div class="position">所属公司：(湖北河海科技)</div>
        <div class="position">项目描述：</div>
        <div class="content">该系统是为气象观测，预报以及机务人员提供业务所需的多终端自动气象站系统相关软件。这是一个C/S架构基于C#语言实现的Winform程序，共分为四个模块，分别是：系统监控，系统设置，数据下载，数据查询。在其中我负责系统监控与系统设置两个模块。该项目属于公司硬件产品配套的软件，在出售给客户时仍需根据客户定制进行微调。</div>
        <div class="position">你的成就：</div>
        <div class="content">我在其中负责两个模块，其一为服务端的首页，设计上为添加定时任务向采集器发送对应代码获取采集器状态信息及采集回的信息并将其转化为通用数据展示在首页上，同时提供一个转发至其他服务端的功能，另一模块为系统设置模块，采用的方案是以ini文件将设置存储至本地，并在每次启动服务端时读取配置文件
        </div>


        <div class="title">教育经历</div>
        <div class="titleDown">武汉工商学院   <label class="edu">本科 / 软件工程</label><label class="remark">2014 - 2018</label></div>
    </div>
</div>
</body>
</html>