<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅行日记</title>
    <link rel="stylesheet" href="../static/js/common/leaflet/leaflet.css">
    <link rel="stylesheet" href="../static/css/travle.css">
    <script src="../static/js/common/jquery-3.2.1.min.js"></script>
    <script src="../static/js/common/leaflet/leaflet.js"></script>
    <script src="../static/js/common/leaflet/leaflet.ChineseTmsProviders.js"></script>
    <script src="../static/js/common/leaflet.wms.js"></script>
    <script src="../static/js/travel.js"></script>
</head>
<body>
<div id="mapid"></div>
</body>
</html>